<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FakeItEasy" version="3.2.0" targetFramework="net452" />
  <package id="FakeXrmEasy.9" version="1.50.1" targetFramework="net462" />
  <package id="Microsoft.Crm.Sdk.Proxy.2011" version="5.0.18" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="9.0.2.5" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.Deployment" version="9.0.2.4" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.Workflow" version="9.0.2.4" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.XrmTooling.CoreAssembly" version="9.0.2.7" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.22.302111727" targetFramework="net462" />
  <package id="Microsoft.Xrm.Client.2011" version="5.0.18" targetFramework="net452" />
  <package id="Microsoft.Xrm.Sdk.2011" version="5.0.18" targetFramework="net452" />
  <package id="Microsoft.Xrm.Sdk.Workflow.2011" version="5.0.18" targetFramework="net452" />
  <package id="MSTest.TestAdapter" version="1.4.0" targetFramework="net462" />
  <package id="MSTest.TestFramework" version="1.4.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net462" />
</packages>