<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FakeItEasy" version="3.2.0" targetFramework="net452" />
  <package id="FakeXrmEasy" version="1.48.0" targetFramework="net452" />
  <package id="Microsoft.Crm.Sdk.Proxy.2011" version="5.0.18" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="9.0.2.5" targetFramework="net452" />
  <package id="Microsoft.Xrm.Client.2011" version="5.0.18" targetFramework="net452" />
  <package id="Microsoft.Xrm.Sdk.2011" version="5.0.18" targetFramework="net452" />
  <package id="Microsoft.Xrm.Sdk.Workflow.2011" version="5.0.18" targetFramework="net452" />
  <package id="MSTest.TestAdapter" version="1.3.2" targetFramework="net452" />
  <package id="MSTest.TestFramework" version="1.3.2" targetFramework="net452" />
</packages>